table{
  border: dotted;
}

#auswahlfeld_tabelle{
  border: none;
}
h1{
   text-decoration: underline;
   color: blue;
}
td.Punkte{
  color:red;
}
td.VerborgeneZelle{
  color: white;
}
td.VerborgeneZelle:hover, td.VerborgeneZelle:active{
  color:green;
  -webkit-user-select: none;
  -webkit-touch-callout: none
}
thead{
  text-decoration: underline;
}
td.Überschrift{
  color: red;
}
p.Meldungen{
  color: red;
  animation: blinker 5s linear infinite;
  font-size: 22px;
  text-decoration: bold;
}
@keyframes blinker{
  50% {opacity: 0;}
}
