tr.himmel{
  background-color: blue;
}
tr.boden{
  background-color: green;
}
table{
  background-color: blue;
}
img{
  height:225px;
}
td.rechts{
  text-align: right;
}
td.links{
  text-align: left;
}
img.Schwerter{
  height:100px;
}
#Truhe{
  margin-left: 60%;
  margin-right: 60%;
}
#A{
  font-size: 200px;
}
#Truhe2{
  margin-left: 60%;
  margin-right: 60%;
}
#Schwerter{
  margin-left: 34%;
  margin-right: 34%;
}
#S1{
  height: 50px;
}
#S2{
  height: 50px;
}
#S3{
  height: 50px;
}
#S4{
  height: 50px;
}
#S5{
  height: 50px;
}
#S6{
  height: 50px;
}
#S7{
  height: 50px;
}
#S8{
  height: 50px;
}
