tr.himmel{
  background-color: aqua;
}
img.Pflanze{
  height:40px;
}
tr.boden{
  background-color: yellow;
}
table{
  background-color: aqua;
}
img{
  height:225px;
}
td.rechts{
  text-align: right;
}
td.links{
  text-align: left;
}
img.Schwerter{
  height:100px;
}
#Truhe{
  margin-left: 60%;
  margin-right: 60%;
}
#A{
  font-size: 200px;
}
#Truhe2{
  margin-left: 60%;
  margin-right: 60%;
}
#Schwerter{
  margin-left: 34%;
  margin-right: 34%;
}
#x1{
  background-color: red;
  height: 50px;
  width:75px;
}
#x2{
  background-color: red;
  height: 50px;
  width:75px;
}
#x3{
  background-color: red;
  height: 50px;
  width:75px;
}
#x4{
  background-color: red;
  height: 50px;
  width:75px;
}
#x5{
  background-color: red;
  height: 50px;
  width:75px;
}
#x6{
  background-color: red;
  height: 50px;
  width:75px;
}
td.v{
  background-color: green;
  height:50px;
  width: 75px;
}
#S1{
  height: 4px;
}
#S2{
  height: 4px;
}
#S3{
  height: 4px;
}
#S4{
  height: 4px;
}
#S5{
  height: 4px;
}
#S6{
  height: 4px;
}
#S7{
  height: 4px;
}
#S8{
  height: 4px;
}
